header {
    background: #FFFFFF;
    color: #005883;
}

.contenedor {
    align-content: center;
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 150px;
    width: 95%;
}

.tiwtter_main {
    width: 50%;
    margin-left: 30px;
}

.row_header {
    background: #2879e4;
    color: #FFFFFF;
}

.main {
    background: #FFFFFF;
    color: #005883;
    border: 5px solid orange;
    */
}

.row_main {
    border: 5px solid grey;
    */
}

aside {
    background: #2082cc;
    color: #FFFFFF;
}

.color1 {
    background-color: #2082cc;
    color: #FFFFFF
}

.cola {
    background-color: #F67621;
}

.color2 {
    background-color: #FFFFFF;
    color: #005883
}

.ass {
    background-color: #3DA5FF;
    border-style: solid double dashed;
}

.seccion {
    background: #005883;
    color: #FFFFFF
}

.articulo {
    background-color: #3DA5FF;
    border-style: solid double dashed;
}

.HTML5 {
    background: #F67621;
    color: #FFFFFF
}

.final {
    background: #F67621;
    color: #FFFFFF
}

.HTML5_Mm {
    background: #F85252;
    color: #FFFFFF
}

.CSS3_TRU {
    background: #A032C0;
    color: #FFFFFF
}

.rad0 {
    border: 2px solid gray;
    background-color: #9CE4EC;
}

.rad1 {
    border: 2px solid gray;
    background-color: #F0E480;
}

.rad2 {
    border: 2px solid gray;
    background-color: #DFDCDC;
}

.rad3 {
    border: 2px solid gray;
    background-color: #DAF4EA;
}


/* sólo color de fondo */

footer {
    background: black;
    color: 9c9c9c;
    border-radius: 25px;
}

.search {
    background-color: #FFFFFF;
}

#IN {
    background-color: #1CE688;
}

dropdown-submenu {
    position: relative;
}

.dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 3px;
    top: 40%;
}

.dropdown-submenu:hover .dropdown-menu,
.dropdown-submenu:focus .dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute !important;
    margin-top: -30px;
    left: 100%;
}

@media (max-width: 992px) {
    .dropdown-menu {
        width: 50%;
    }
    .dropdown-menu .dropdown-submenu {
        width: auto;
    }
}